@charset "utf-8";

/*
-----------------------------------------------------------

Reset default browser

-----------------------------------------------------------
*/

/* =HTML5 Reset default browser CSS.
    Based on work by Eric Meyer
    http://meyerweb.com/eric/tools/css/reset/index.html
----------------------------------------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video  {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
	border-collapse: collapse !important;
}

:focus  {
	outline: 0;
}

body  {
	background: #fff;
	line-height: 1;
}

ol, ul  {
	list-style: none;
}

table  {
	border-collapse: collapse !important;
	border-spacing: 0;
}

caption, th, td  {
	font-weight: normal;
	text-align: left;
}

blockquote:before, blockquote:after, q:before, q:after  {
	content: "";
}

blockquote, q  {
	quotes: "" "";
}

a img  {
	border: 0 !important;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section  {
	display: block;
}

audio, canvas, video  {
	display: inline-block;
	max-width: 100%;
	*display: inline;
	zoom: 1;
}

html  {
	overflow-y: scroll;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}


/*
-----------------------------------------------------------

Basic Setup

-----------------------------------------------------------
*/

.clearfix  {
	zoom:1; /* IE 5.5-7*/
}

.clearfix:after  {
	content:".";
	display: block;
	height: 0px;
	font-size: 0;
	clear: both;
	visibility: hidden;
}

* html .clearfix  {
	display: inline-table;
	/**/display:block;/**/
}

.clear  {
	margin:0 !important;
	clear:both;
	visibility: hidden;
	height: 0;
}

.hidden  {
	display:none !important;
	visibility: hidden;
	height: 0;
}

.imgover {}

.anchor-link {}

.window-scale  {
	height: 100vh;
}

.pointer  {
	cursor: pointer;
}

.shadow  {
	box-shadow:1px 1px 8px #ccc;
}

.radius  {
	border-radius: 5px;
}

/* Font Color */
.fc-black { color: #000 !important;}
.fc-white { color: #fff !important;}
.fc-gray { color: #999 !important;}
.fc-red { color: #F00 !important;}
.fc-yellow { color: #cc0 !important;}
.fc-orange { color: #ff9673 !important;}
.fc-blue { color: #09C !important;}
.fc-lightblue { color: #6CC !important;}
.fc-navy { color: #3498db !important;}
.fc-green { color: #090 !important;}
.fc-lightgreen { color: #9C0 !important;}
.fc-darkgreen { color: #678C00 !important;}
.fc-maroon { color: #6d0020 !important;}
.fc-marron { color: #c9a15e !important;}
.fc-turquoise { color: #1abc9c !important;}
.fc-salmon-pink { color: #FF9897 !important;}
.fc-sunflower { color: #f1c40f !important;}
.fc-rss { color: #fc0 !important;}

/* Background Color */
.bg-facebook { background-color: #3b5998 !important;}
.bg-facebook, .bg-facebook a { color: #fff !important;}
.bg-twitter { background-color: #0bf !important;}
.bg-twitter, .bg-twitter a { color: #fff !important;}
.bg-google-plus { background-color: #cd201f !important;}
.bg-google-plus, .bg-google-plus a { color: #fff !important;}
.bg-line { background-color: #00C500 !important;}
.bg-line, .bg-line a { color: #fff !important;}
.bg-rss { background: #fc0 !important;}
.bg-rss, .bg-rss a { color: #fff !important;}

/* Flexbox */
.flex-wrapper {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.flex-wrapper .flex-item {
	width: 50%;
}

/* Columns */
.row .col {}
.cnt-l, .cnt-r { width: 48%;}
.cnt-l { float: left;}
.cnt-r { float: right;}
.fl { float: left;}
.fr { float: right;}

.column-1  {}
.column-2 .col { width: 50%;}
.column-3 .col { width: 33.33%;}
.column-4 .col { width: 25%;}
.column-5 .col { width: 20%;}
.column-6 .col { width: 16.66%;}
.column-8 .col { width: 12.5%;}

.column-1  {}
.column-2 li { width: 50%;}
.column-3 li { width: 33.33%;}
.column-4 li { width: 25%;}
.column-5 li { width: 20%;}
.column-6 li { width: 16.66%;}
.column-8 li { width: 12.5%;}

/* Alignment */
.alignleft { display: block; float: left;}
.alignright { display: block; float: right;}
.aligncenter { clear: both; display: block;}
.alignleft, .alignright, .aligncenter  {}
.alignleft { margin: 0 5% 5% 0; max-width: 95%;}
.alignright  { margin: 0 0 5% 5%; max-width: 95%;}
.aligncenter { margin: 0 auto 5%;}

.ta-l { text-align: left !important;}
.ta-r { text-align: right !important;}
.ta-c { text-align: center !important;}

.ta-l img,
.ta-r img,
.ta-c img { display: inline-block !important;}

/* Object Fit */
.fit-cover {
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
}

/*
-----------------------------------------------------------

Social Media Button Reset

-----------------------------------------------------------
*/

/* Twitter Plugin Optimize */
iframe.twitter-share-button,
iframe.twitter-follow-button { overflow-x: hidden !important;}
iframe.twitter-share-button { max-width: 105px !important;}

/* Facebook Plugin Optimize */
.fb_iframe_widget { margin: 0 !important;}
.fb-like iframe,
.fb_iframe_widget iframe { max-width:none !important;}
.fb-like-box,
.fb-like-box iframe,
.fb-like-box span { max-width:100% !important;}



@media screen and (min-width: 640px) {
	/* Hover Effect */
	.over, .scaleup, .rotate, .scaleup-rotate  {
		-webkit-transition: all ease-out 0.1s;
		   -moz-transition: all ease-out 0.1s;
		    -ms-transition: all ease-out 0.1s;
		        transition: all ease-out 0.1s;
	}

	.over:hover  {
		opacity:0.6;
	}

	.scaleup:hover  {
		-webkit-transform: scale(2);
	}

	.rotate:hover  {
		-webkit-transform: rotate(360deg);
	}
	.scaleup-rotate:hover  {
		-webkit-transform: scale(2) rotate(360deg);
		box-shadow:1px 1px 8px #999;
	}
}


@media screen and (min-width: 0px) and (max-width: 640px) {
	/* Flexbox */
	.flex-wrapper {
		flex-direction: column;
	}
	.flex-wrapper .flex-item {
		width: 100% !important;
	}

	.splitColumn .row .col,
	.cnt-l,
	.cnt-r {
		float: none;
		width: 100%;
		margin: auto;
		padding: 0;
	}
	.fb-like iframe {
		max-width:100% !important;
	}
}