#form label.error {
	color: #f33;

	position: relative;
	display: block;
	margin: 15px auto 0;
	width: 100%;
	padding: 10px;
	background: rgba(255,238,238,1);
	cursor: default;
	
	-webkit-box-sizing: border-box;	
	-moz-box-sizing: border-box;	
	box-sizing: border-box;
}