@charset "utf-8";

/* -----------------------------------------------------------
    Q&A
-------------------------------------------------------------- */
.faq-area {
    padding: 0 0 200px;
	position: relative;
}

.faq-area-inner{
}

.faq-area-inner::after{
    left: auto;
    right: 0;
}

.faq-area .title-wrap{
    z-index: 3;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 35px;
}

.faq-area .faq-list {
    padding: 0;
	width: 1100px;
	margin: 0 auto;
}

.faq-area .faq-list .list {
	line-height: 1.7;
	/*background: #F2F0EC;*/
	border-bottom: solid 1px #ddd;
}

.faq-area .faq-list .list:last-child {
	margin: 0;
}

.faq-area .quest {
	padding: 20px 20px 20px 70px;
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	transition: 0.5s;
    font-weight: 500;
}
.faq-area .quest .ttl{
	font-size: 1.8rem;
	font-family: var(--notoserif);
}

.faq-area .quest::before {
	content: "Q";
	color: var(--gray2);
	font-family: var(--syne);
	font-size: 2.6rem;
	font-weight: 600;
	position: absolute;
	top: 15px;
	margin: auto;
	left: 22px;
}

.faq-area .quest:hover {
	cursor: pointer;
	color: #a8a8a8;
}

.faq-area .faq-accordion-icon {
	position: relative;
	height: 20px;
	width: 20px;
}

.faq-accordion-icon::before,
.faq-accordion-icon::after {
	background-color: #333;
	content: "";
	height: 2px;
    width: 22px;
	position: absolute;
	transition: all .3s;
	top: 0;
	bottom: 0;
	margin: auto;
}

.faq-accordion-icon::before {
	transform: rotate(0deg);
}

.faq-accordion-icon::after {
	transform: rotate(90deg);
}

.faq-area .quest.active .faq-accordion-icon::after {
	transform: rotate(180deg);
}

.faq-area .answer {
	padding: 30px 20px 30px 70px;
	/*font-weight: 500;*/
	display: none;
	position: relative;
	background: var(--lightgray);
}

.faq-area .answer::before {
	content: "A";
	color: var(--gold);
	font-family: var(--syne);
	font-size: 2.6rem;
	font-weight: 500;
	position: absolute;
	top: 25px;
    margin: auto;
    left: 23px;
}

.faq-area .faq-list .list .answer p{
	font-size: 1.6rem;
	font-family: var(--notoserif);
	line-height: 2.3;
	letter-spacing: 1.2px;
}

.faq-area .faq-list .list .answer a{
    border-bottom: 1px solid;
}

.faq-area .faq-list .list .answer li {
	line-height: 2.2;
    font-size: 1.6rem;
    margin: 0 0 0 15px;
    position: relative;
}


.faq-area .faq-list .list .answer .att{
    font-size: 1.8rem;
    font-weight: 600;
}

.sub-title{
	font: 500 2.6rem / 1.4 var(--basefont);
	position: relative;
	margin: 50px 0 0;
}
.faq-area .shop-list{
	display: flex;
	flex-wrap: wrap;
	gap: 20px 30px;
	margin: 30px 0 0 ;
}
.faq-area .shop-list > div{
	border-bottom: solid 1px #333;
	padding: 0 0 20px;
	width: calc((100% / 2) - 30px);
}
.faq-area .shop-list .area span{
	font-weight: bold;
    background: #fff;
    padding: 5px 20px;
}


@media screen and (max-width: 768px){

	.faq-area {
		padding: 0 0 80px;
	}

	.faq-area .faq-area-inner {
		width: 100%;
	}

    .faq-area .title-wrap{
        top: 19px;
    }

	.faq-area .inner > .ttl {
		text-align: center;
	}

	.faq-area .faq-list {
		padding: 0;
		width: 100%;
	}

	.faq-area .faq-list .list {
		margin: 0;	
	}

	.faq-area .faq-list .list p {
		font-size: 1.7rem;
		line-height: 1.6;
	}

    .faq-area .faq-list .list .ttl{
        width: calc( 100% - 40px );
        display: block;
    }

	.faq-area .quest {
		padding: 15px 0 15px 40px;
	}

	.faq-area .quest::before {
		font-size: 2rem;
		top: 12px;
		left: 10px;
	}

	.faq-area .quest:hover {
		color: #55423E;
	}

	.faq-area .faq-accordion-icon {
		height: 20px;
		width: 20px;
	}

	.faq-accordion-icon::before,
	.faq-accordion-icon::after {
		width: 15px;
	}

	.faq-area .answer {
		padding: 15px 20px 15px 40px;
	}

	.faq-area .answer::before {
		font-size: 2.2rem;
		top: 12px;
		left: 12px;
	}

	.faq-area .faq-list .list .answer p {
		line-height: 1.8;
		font-size: 1.5rem;
	}

	.faq-area .faq-list .list .answer li{
		font-size: 1.6rem;
	}

	.faq-area .faq-list .list .answer p em{
		line-height: 1.3;
	}
	
	.sub-title{
		font-size: 1.8rem;
	}
	.faq-area .shop-list{
		gap: 10px;
	}
	
	.faq-area .shop-list > div{
		width: 100%;	
		padding: 0 0 10px;
	}
	.faq-area .shop-list .area span{
		margin: 0 0 10px;
		padding: 3px 8px;
		font-size: 1.5rem;
	}
	.faq-area .faq-list .list .answer .basic-txt{
		margin: 10px 0 0;
	}

}


