@charset "utf-8";

/* -----------------------------------------------------------
    form
-------------------------------------------------------------- */
#header{
	position: relative;
	z-index:3;
}
#header.header-fixed{
	position: fixed;
}
.page-contact .f_contents_top,
.page-contact .f_btm_list,
.page-contact #footer_fixed {
	display: none!important;
}

.page-contact .header {
	position: relative!important;
}

.page-contact.hamburger-open .header {
	position: fixed!important;
}

.page-contact.hamburger-open .sp-gnav-btn {
	position: fixed;
}

.page-contact #wrapper {
	padding: 0!important;
}

.page-contact .f_contents_bottom .inner{
	text-align: center;
	justify-content: center;
}

.page-contact .f_contents_area {
	padding: 0;
}

.page-contact #form .form_area {
	padding: 100px 80px 100px;
	margin: 50px auto;
	border: solid 1px #ddd;
	background: #fff;
}

.bread-h1-wrap {
	padding-bottom: 20px;
	top: 65px;
}

.sbh1{display:none;}
input[type="radio"]:checked#sbh1~div.sbh1 {display:block;}


.contents{
	/*background: #fffafe;*/
	padding: 0 0 50px;
}


/* イントロ */
.txt-wrap{
	display: flex;
	align-items: center;
	margin: 0 0 0;
}
.txt-wrap figure{
	width: 600px;
	margin: 0 50px 0 0;
	border-radius: 30px;
}
.txt-wrap figure img{
	width: 100%;
}
.txt-wrap .basic-txt{
	margin: 20px 0 0;
}

@media screen and (max-width: 768px) {
	.contents{
		background: none;
		padding: 0;
	}
	.page-contact #form .form_area{
		padding: 20px 0 50px;
		border: none;
		margin: 0;
	}
	/* イントロ */
	.txt-wrap{
		display: block;
		margin: 0 0 0;
	}
	.txt-wrap figure{
		width: 100%;
		margin: 0 0 20px;
		border-radius: 10px;
	}
	.txt-wrap figure img{
		width: 100%;
	}
	
}

/* お問い合わせテキスト */
#form .contact-area-txt {
	text-align: center;
	font-size: 1.8rem;
	line-height: 1.6;
}
#form .contact-area-title {
	text-align: center;
	font-size: 2.2rem;
	font-weight: 500;
	line-height: 1.6;
	padding: 0 0 30px;
}

@media screen and (max-width: 768px) {
	
	#form .contact-area-txt {
		text-align: left;
		font-size: 1.7rem;
		line-height: 1.7;
		padding: 0 20px;
	}
	#form .contact-area-title {
		font-size: 2rem;
		padding: 0 0 15px;
	}
	
}


/* 電話エリア */
#form .contact-tel-area {
	background: #ecf7ed;
	padding: 40px 0;
	margin: 60px 0;
}
#form .contact-tel-area .box-wrapper {
	display: flex;
	justify-content: space-between;
}

#form .contact-tel-area .box-wrapper li {
	width: 230px;
	background: #fff;
	border-radius: 10px;
	box-shadow: #ddd 1px 1px 20px;
	text-align: center;
	padding: 20px;
}
#form .contact-tel-area .box-wrapper li:last-of-type {
	margin-right: 0;
}

#form .contact-tel-area .box-wrapper .name {
	padding: 0 0 10px;
	color: #33b371;
	font-size: 2rem;
	line-height: 1.5;
}
#form .contact-tel-area .box-wrapper .tel {
	font-size: 2.6rem;
	font-weight: 500;
	line-height: 1.2;
}
#form .contact-tel-area .box-wrapper .tel i {
	font-size: 1.6rem;
	margin: 0 8px 0 0;
	vertical-align: middle;
}
#form .contact-tel-area .box-wrapper .time {
	line-height: 1.6;
	font-size: 1.4rem;
	margin: 15px 0 0;
}


@media screen and (max-width: 768px) {
	
	/* 電話エリア */
	#form .contact-tel-area {
		padding: 30px 20px 15px;
		margin: 30px 0;
	}
	#form .contact-tel-area .box-wrapper {
		display: block;
	}

	#form .contact-tel-area .box-wrapper li ,
	#form .contact-tel-area .box-wrapper li:last-of-type{
		width: auto;
		padding: 15px;
		margin: 0 0 15px;
	}

	#form .contact-tel-area .box-wrapper .name {
		padding: 0 0 5px;
		font-size: 2rem;
	}
	#form .contact-tel-area .box-wrapper .tel {
		font-size: 2.4rem;
	}
	#form .contact-tel-area .box-wrapper .time {
		margin: 10px 0 0;
	}
	
}


/*
#form .page_title_area {
	background: url("https://citygroup-s.com/control/img/gray_bg.png")repeat;
}
*/

#form .form_area {
	padding: 0 0 120px;
}

#form .form_area.complete {
	padding: 80px 0 0;
	border: none;
}

#form .form_area .tel_area {
	margin: 30px 0 0 0;
	padding: 30px;
	text-align: center;
	border: 1px #F58A00 solid;
}

#form .form_area .tel_area .txt {
	font-size: 2.0rem;
	font-weight: bold;
	color: #F48A00;
}

#form .form_area .tel_area .tel_txt {
	margin: 8px 0 0 0;
	font-size: 3.0rem;
	font-weight: bold;
	font-family: Arial, Helvetica, "sans-serif";
}

#form .form_area .tel_area .tel_txt img {
	width: 24px;
	vertical-align: top;
	margin: 4px 5px 0 0;
}

#form .form_area .tel_area .tel_time {
	margin: 10px 0 0 0;
	font-size: 1.2rem;
}

#form .form_area .mail_title {
	font-size: 2.0rem;
	font-weight: bold;
	color: #F48A00;
	padding: 60px 0 20px 0;
}

#form .form_area .mail_title img {
	width: 26px;
	vertical-align: middle;
	margin: 0 5px 0 0;
}

#form .form_area.complete .back-link {
	text-align: center;
	padding: 0 0 100px;
	position: relative;
	display: table;
    margin: 0 auto;
}

#form .form_area.complete .back-link a::before {
	display: inline-block;
	content: "\f105";
	font-weight: 900;
	font-family: 'Font Awesome 5 Free';
	padding: 0 5px 0 0;
	color: #333;
	top: 5px;
	left: -10px;
}

@media screen and (max-width: 768px) {
	#form .form_area {
		padding: 0 0 70px;
	}
	#form .form_area.complete {
		padding: 50px 20px 50px;
	}
	#form .form_area .tel_area {
		margin: 20px 20px 0 20px;
		padding: 20px;
		text-align: center;
	}
	#form .form_area .tel_area .txt {
		font-size: 1.6rem;
	}
	#form .form_area .tel_area .tel_txt {
		font-size: 2.6rem;
		color: #444;
	}
	#form .form_area .tel_area .tel_txt img {
		width: 22px;
		margin: 2px 5px 0 0;
	}
	#form .form_area .tel_area .tel_time {
		margin: 10px 0 0 0;
	}
	#form .form_area .mail_title {
		font-size: 1.8rem;
		padding: 30px 20px 20px 20px;
	}
	#form .form_area .mail_title img {
		width: 22px;
		margin: 0 5px 0 0;
	}
	#form .form_area.complete .back-link {
		padding: 0 0 0 0;
		width: auto;
	}
}


/* -----------------------------------------------------------
    input
-------------------------------------------------------------- */

.form_area input[type="text"],
.form_area input[type="email"],
.form_area input[type="tel"],
.form_area input[type="number"],
.form_area input[type="password"],
.form_area select,
.form_area textarea {
	border: 1px solid #DDD;
	padding: 15px;
	font-size: 1.6rem;
	font-family: 'Noto Sans JP', "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "游ゴシック", YuGothic, "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	color: #333;
	letter-spacing: 0.03em;
	background: #fff;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border-radius: 8px;
}

.form_area input[type="text"]:focus,
.form_area input[type="email"]:focus,
.form_area input[type="tel"]:focus,
.form_area input[type="number"]:focus,
.form_area input[type="password"]:focus,
.form_area select:focus,
.form_area textarea:focus {
	border: 1px solid #333;
}

.form_area input[type="number"] {
	-moz-appearance: textfield;
}

.form_area input[type="number"]::-webkit-outer-spin-button,
.form_area input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.form_area select {
	width: 45%;
	padding: 5px;
	margin: 0 0 0 10px;
	background: #fff url("../img/icon_arrow_under.png") no-repeat 95% 50%;
	background-size: 20px auto;
}

.form_area td.area select {
	width: 40%;
	padding: 10px;
	margin: 0 0 0 0;
	background: #fff url("../img/icon_arrow_under.png") no-repeat 95% 50%;
	background-size: 20px auto;
}

.form_area select:hover {
	cursor: pointer;
}

.form_area option {
	padding: 5px 15px;
}

.form_area select option selected {
	color: #999;
}

.form_area textarea {
	width: 100%;
	max-width: 644px;
	min-width: 644px;
}

.form_area input[type="radio"],
.form_area input[type="checkbox"] {
	vertical-align: -1px;
	margin: 0 12px 0 0;
	font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
	border-radius: 0;
}

.form_area label:hover {
	cursor: pointer;
}

.form_area label.label_first {
	display: inline-block;
	margin: 0 40px 0 0;
}


/* -----------------------------------------------------------
    button / submit
-------------------------------------------------------------- */

input[type="submit"],
input[type="button"] {
	display: block;
	font-family: 'Noto Sans JP', "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "游ゴシック", YuGothic, "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	letter-spacing: 0.08em;
	margin: 0 auto;
	transition: 0.5s;
	border: none;
	outline: none;
	appearance: none;
	color: #FFF;
	font-size: 1.9rem;
	font-weight: bold;
	width: 330px;
	padding: 28px 30px 31px;
	text-align: center;
	line-height: 1;
	border-radius: 3px;
}

#form input[type="submit"],
#form input[type="button"] {
	min-width: 300px;
	border-radius: 100px;
}

#form input[type="submit"][disabled] {
	color: #fff;
	background: #e4e4e4;
	border-radius: 40px;
}

input[type="submit"] {
	background: #E94647;
	appearance: none;
	  -webkit-appearance: none;
}

input[type="submit"].submit_gray,
input[type="button"].submit_gray {
	color: #333;
	width: 330px;
	background: #EEE;
	padding: 28px 30px 31px;
	text-align: center;
}

input[type="button"]:hover {
	cursor: pointer;
	background: #CCC;
}

input[type="submit"]:hover {
	cursor: pointer;
	background: #d91e1f;
}


/*		送信ボタン		*/

.form_btn_area {
	padding: 60px 0 0 0;
	text-align: center;
}

.form_btn_area .fl {
	float: left;
}

.form_btn_area .fr {
	float: right;
}

.form_btn_area .confirm .clearfix {
	display: flex;
	justify-content: center;
	width: 750px;
}

.form_btn_txt {
	margin: 0 0 40px;
}

.error_message {
	text-align: center;
	padding: 130px 0 40px;
	line-height: 1.8;
}

.submit_btn {
	background: #ebc118;
}


/* -----------------------------------------------------------
    フォーム共通
-------------------------------------------------------------- */

.form_toptxt {
	line-height: 1.8;
	text-align: center;
}

.form_toptxt.s {
	font-size: 1.3rem;
}

.back_btn {
	margin: -65px 0 0;
	width: 21%;
	font-size: 1.4rem;
	text-align: center;
	background: url("https://citygroup-s.com/control/img/icon_arrow_left.png") no-repeat 10% 49%;
	background-size: 7px 13px;
}

.back_btn a {
	display: block;
	padding: 20px 0;
	border: 1px solid #666;
}

.attention {
	margin: 10px 0;
	line-height: 1.6;
}


/* -----------------------------------------------------------
    入力画面共通  /  table
-------------------------------------------------------------- */

.form_table {
	margin: 20px 0 0;
	width: 100%;
	border-collapse: collapse;
	border-top: 1px solid #ddd;
	letter-spacing: 0.05em;
	line-height: 2;
}

.form_table tr {
	border-bottom: 1px solid #ddd;
}

.form_table th {
	width: 35%;
	padding: 30px 50px;
	text-align: left;
	font-weight: bold;
	vertical-align: top;
}

.form_th_title {
	display: inline-block;
	padding: 5px 0 0;
}

.form_th_notes {
	float: right;
	display: inline-block;
	margin: 5px 0 0;
	padding: 3px 12px;
	font-size: 1.3rem;
	font-weight: bold;
	color: #fff;
	background: #E94647;
	border-radius: 5px;
}

.form_table td {
	padding: 30px 30px 30px 0;
	text-align: left;
	vertical-align: top;
}

.form_table .none td {
	text-align: center;
	font-size: 1.7rem;
	font-weight: 500;
}

.form_table input[type="text"],
.form_table input[type="password"],
.form_table input[type="tel"],
.form_table input[type="email"],
.form_table select {
	width: 80%;
}

.form_table input[type="number"] {
	width: 20%;
	margin: 0 10px 0 0;
}

/*		プルダウン		*/
#time1{
border: 1px solid #ddd;
    padding: 15px;
    font-size: 1.6rem;
    font-family: 'Noto Sans JP', "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "游ゴシック", YuGothic, "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    color: #333;
    letter-spacing: 0.03em;
    outline: none;
    appearance: none;
    width: 50%;
    margin: 0;
}
.form_area select{
	width: 45%;
    padding: 5px;
    margin: 0 0 0 10px;
    background: #fff url("../img/icon_arrow_under.png") no-repeat 95% 50%;
    background-size: 20px auto;
}

/*		郵便番号		*/

.form_area input[type="number"].input_zip {
	width: 30%;
	margin: 0 0 0 10px;
}

.zip_btn {
	width: 30%;
	margin: 15px 0 0;
	text-align: center;
}

.zip_btn a {
	display: block;
	padding: 10px 0;
	color: #fff;
	background: #7FB2AA;
}


/*		お問い合わせ		*/

.radio_list {}

.radio_list li {
	line-height: 2.4;
}


/*		注釈		*/

.form_td_notes {
	display: inline-block;
	font-size: 1.4rem;

}

.form_td_notes02 {
	margin: 15px 0;
	font-size: 1.5rem;
	/*color: #286bea;*/
}

.form_td_notes03 {
	margin: 15px 0 0;
	font-size: 1.4rem;
}

.form_td_notes04 {
	margin: 7px 0 15px;
	font-size: 1.4rem;
}

/*最後の枠　js用*/
.form_table.last ,
.form_table.style2 {
	border-top: none;
	margin-top: 0;
}


/* -----------------------------------------------------------
    確認画面共通
-------------------------------------------------------------- */

.form_table.confirm {}

.form_table.confirm th {
	width: 30%;
}


/*		写真添付		*/

.form_table .form_photo {
	margin: 10px 0 0;
}

.form_table .form_photo img {
	width: 300px;
}

.form_btn_area.confirm .btn-wrap {
	display: flex;
	width: 800px;
	justify-content: center;
	margin: 0 auto;
}

.form_btn_area.confirm .btn-wrap input {
	margin: 0 30px;
}


/* -----------------------------------------------------------
    完了画面共通
-------------------------------------------------------------- */

.form_area .complete_title {
	font-size: 2.4rem;
	font-weight: bold;
	text-align: center;
	line-height: 1.6;
	padding: 0 0 10px;
}

.form_area .complete_txt {
	margin: 30px 0 50px;
	line-height: 2.5;
	text-align: center;
}

.form_area .back_link {
	margin: 60px 0 20px;
	text-align: center;
	font-family: 'Noto Sans JP', "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "游ゴシック", YuGothic, "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}


/* -----------------------------------------------------------
    SP
-------------------------------------------------------------- */

@media screen and (max-width:768px) {
	/* -----------------------------------------------------------
		input
	-------------------------------------------------------------- */
	.form_area input[type="text"],
	.form_area input[type="tel"],
	.form_area input[type="password"],
	.form_area input[type="email"],
	.form_area input[type="number"],
	.form_area select,
	.form_area textarea {
		padding: 15px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		font-size: 1.6rem;
		-webkit-appearance: none;
		border-radius: 0;
	}
	.form_area input[type="text"],
	.form_area input[type="email"],
	.form_area input[type="number"],
	.form_area input[type="tel"],
	.form_area input[type="password"],
	.form_area select,
	.form_area textarea {
		width: 100%;
	}
	.form_area textarea {
		max-width: 100%;
		min-width: 100%;
	}
	.form_area select {
		padding: 10px 15px;
		background: #fff url("../img/icon_arrow_under.png") no-repeat 95% 50%;
		background-size: 18px auto
	}
	.form_area td.area select {
		width: 100%;
		padding: 10px 15px;
		background: #fff url("../img/icon_arrow_under.png") no-repeat 95% 50%;
		background-size: 18px auto
	}
	.form_area input[type="radio"],
	.form_area input[type="checkbox"] {}
	/* -----------------------------------------------------------
		button / submit
	-------------------------------------------------------------- */
	.btn {}
	.btn.back_btn {
		top: 0;
	}
	.btn.back_btn a {
		display: inline-block;
		width: auto;
		padding: 10px 5px 10px 20px;
		border: none;
		font-size: 1.6rem;
		text-align: left;
		background: #fff url("https://citygroup-s.com/control/img/icon_arrow03.png") no-repeat 0 50%;
		background-size: 11px 11px;
	}
	.form_area input[type="submit"] {
		display: block;
		width: 100%;
		max-width: 300px;
		padding: 25px 10px;
		font-size: 1.80rem;
		box-sizing: border-box;
		box-shadow: 2px 2px 3px #DDD;
	}
	#form input[type="submit"],
	#form input[type="button"] {
		min-width: inherit;
	}
	input[type="submit"].submit_gray,
	input[type="button"].submit_gray {
		width: 100%;
		font-size: 1.4rem;
		padding: 10px 10px;
	}
	.form_btn_area {
		padding: 0 20px;
		text-align: left;
	}
	.form_btn_txt {
		margin: 0 0 20px;
		line-height: 1.8;
		/*
		text-align: center;
		*/
		text-align: left;
	}
	.submit_org {}
	.submit_gray {
		font-size: 1.4rem;
		box-shadow: 2px 2px 3px #DDD;
	}
	.submit_magenta {}
	.submit_green {}
	.form_btn_area .fl,
	.form_btn_area .fr {
		float: none;
	}
	.form_btn_area .fr {
		margin: 30px 0 0 0;
	}
	.error_message {
		text-align: left;
		padding: 30px 0 20px;
	}
	/* -----------------------------------------------------------
		フォーム共通
	-------------------------------------------------------------- */
	.form_toptxt {
		padding: 0 20px 0;
		line-height: 1.8;
		text-align: left;
	}
	.form_toptxt.s {
		padding: 0 0 0 0;
		font-size: 1.3rem;
	}
	/* -----------------------------------------------------------
		入力画面共通  /  table
	-------------------------------------------------------------- */
	.form_table {
		margin: 20px 0 0;
	}
	.form_table tr {
		border: none;
	}
	.form_table th {
		display: block;
		width: 100%;
		padding: 15px 15px;
		text-align: left;
		vertical-align: middle;
		border-top: 1px #ddd solid;
	}
	.form_table tr:first-of-type th {
		border-top: none;
	}
	.form_table tr:last-child td {
		border-bottom: 1px solid #ddd;
	}
	.form_table td {
		display: block;
		width: 100%;
		border: none;
		padding: 0 20px 20px 20px;
		text-align: left;
		vertical-align: top;
	}
	.form_table td .size-item {
		display: flex;
		align-items: center;
	}
	.form_table td .size-item input {
		max-width: 200px;
		
	}
	.size-item-txt {
		flex-shrink: 0;
		min-width: 70px;
		margin: 0 5px 5px 5px;
	}
	.form_th_title {
		padding: 0;
	}
	.form_table th .form_th_notes {
		float: none;
		display: inline-block;
		margin: -5px 0 0 10px;
		padding: 2px 10px;
		font-size: 1.2rem;
		font-weight: bold;
		background: #E94647;
	}
	.form_table.rec th .form_th_notes {
		background: #66CCC0;
	}
	.form_table input[type="text"],
	.form_table input[type="password"],
	.form_table input[type="tel"],
	.form_table input[type="email"],
	.form_table select {
		width: 100%;
	}
	.form_table input[type="number"] {
		width: 100%;
	}
	/*		生年月日		*/
	.form_area input[type="text"].birth {
		width: 50%;
	}
	/*		郵便番号		*/
	.form_area input[type="text"].input_zip,
	.form_area input[type="number"].input_zip {
		width: 50%;
		margin: 0 10px 0 10px;
	}
	/*		年齢		*/
	.form_area input[type="number"].input_old {
		width: 40%;
		margin: 0 10px 0 0;
	}
	/*		お問い合わせ		*/
	.radio_list {}
	.radio_list li {
		line-height: 1.8;
	}
	.radio_list label {
		display: block;
		padding: 5px;
	}
	/*		注釈		*/
	.form_td_notes {
		display: inline-block;
		margin: 10px 0 0;
		font-size: 1.4rem;
	}
	.form_td_notes02 {
		margin: 10px 0;
		font-size: 1.4rem;
	}
	.form_td_notes03 {
		margin: 10px 0 0;
		font-size: 1.4rem;
	}
	.item-mfr td li {
		margin: 0 15px 10px 0;
		font-size: 1.6rem;
	}
	
	.item-mfr td li input[type="radio"] {
		margin-right: 2px;
	}
	
	/* -----------------------------------------------------------
		確認画面
	-------------------------------------------------------------- */
	.form_btn_area.confirm .btn-wrap{
		flex-direction: column-reverse;
		justify-content: center;
		width: 100%;
	}
	
	/*最後の枠　js用*/
	.form_table.last {
		margin-bottom: 20px;
	}
	
	.form_btn_area.confirm .btn-wrap input {
		max-width: 300px;
		margin: 0 auto 20px;
		padding: 25px 10px;
	}

	/* -----------------------------------------------------------
		完了画面共通
	-------------------------------------------------------------- */
	.form_area .complete_title {
		font-size: 2.0rem;
		padding: 0 0 0;
	}
	.form_area .complete_txt {
		margin: 20px 0 15px;
		text-align: left;
	}
	.form_area .back_link {
		margin: 30px 0 20px;
		text-align: left;
	}
}

.copy {
	padding: 0 0 40px;
	font-size: 1.2rem;
}

