@charset "utf-8";

/* -----------------------------
	一覧
-------------------------------- */
.shop-area{
	background: #D1C8B9;
	padding: 80px 0 80px;
	border-radius: 80px 80px 0 0;
	margin: 100px 0 0;
}
#shop.index .page-title-area .ttl-l .en{
	font-size: 14rem;
}

.belle-lounge-sapporo .intro-area,
.belle-lounge-okinawa .intro-area{
	margin: 50px 0 150px;
}
.belle-lounge-sapporo .shop-detail-area,
.belle-lounge-okinawa .shop-detail-area{
	margin: 100px 0 0;
}
@media screen and (max-width: 768px){
	.belle-lounge-sapporo .intro-area,
	.belle-lounge-okinawa .intro-area{
		margin: 50px 0;
	}
	.belle-lounge-sapporo .page-title-area .ttl-l .en,
	.belle-lounge-okinawa .page-title-area .ttl-l .en{
		font-size: 3.8rem;
	}
	.belle-lounge-sapporo .shop-detail-area,
	.belle-lounge-okinawa .shop-detail-area{
		margin: 40px 0 50px;
	}
}

/* -----------------------------
	詳細
-------------------------------- */
/*.page-title-area{
	height: auto;
	padding: 200px 0 0;
}*/
.page-title-area .ttl-l .en{
	font-size: 10rem;
}

.hour-area{
	display: flex;
	margin: -20px 0 60px;
	padding: 0 0 20px;
	position: relative;
	z-index: 1;
	border-bottom: 1px var(--gold) dashed;
}
.hour-area li{
	margin: 0 30px 0 0;
font-family: var(--notoserif);
}
.hour-area li i{
	margin: 0 5px 0 0;
	color: var(--gold);
}
.hour-area li a{
	background: var(--gold);
	border-radius: 3px;
	padding: 2px 10px;
	color: #fff;
	font-family: var(--syne);
	margin: 0 0 0 10px;
	line-height: 1.2;
}
.hour-area li a:hover{
	opacity: .6;
}

.splide__slide img{
	width: 500px;
	height: 600px;
	object-fit: cover;
	border-radius: 20px;
}
.splide__slide:nth-child(even) img{
	margin: 80px 0 0;
}

@media screen and (max-width: 1600px){
	
}

@media screen and (max-width: 768px){
	/*.page-title-area{
		height: auto;
		padding: 100px 0 20px;
	}*/
	/*.page-title-area .ttl-l{
		padding: 0 0 10px;
	}*/
	.page-title-area .ttl-l .en{
		font-size: 4rem;
	}
	.headimg-area{
		margin: 30px 0 0;
		border-radius: 0;
	}

	.hour-area{
		display: block;
		margin: 0;
		padding: 0 20px 0;
		border-bottom: none;
	}
	
	.hour-area li{
		margin: 0 0 10px 0;
	}
	.hour-area li i{
	}
	.hour-area li a{
		display: inline-block;
	}
	.hour-area li a:hover{
	}
	.hour-area li p{
		font-size: 1.5rem;
		line-height: 1.8;
	}
	

	.splide__slide img{
		width: 280px;
		height: 360px;
		border-radius: 10px;
	}
	.splide__slide:nth-child(even) img{
		margin: 50px 0 0;
	}
	.splide{
		margin: 40px 0 0;
	}
}

/* -----------------------------
	event-area
-------------------------------- */
.event-area {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 80px auto 0;
	padding: 0 0 15px;
	align-items: anchor-center;
	background: var(--lightgray);
	padding: 20px 50px;
    border-radius: 5px;
	align-items: center;
}

.event-area .ttl-s {
	/*display: flex;
	align-items: center;
	flex-wrap: wrap;*/
}

.event-area .ttl-s .en {
	margin: 0 10px 0 0;
	font-size: 2.4rem;
	letter-spacing: 0;
	font-weight: bold;
}

.event-area ul {
	/*border-top: var(--gray) solid 1px;*/
	width: 800px;
}
.event-area ul li{
	margin: 0;
}
.event-area ul li a{
	display: flex;
	align-items: center;
	
}
.event-area ul li a .date {
	font-family: var(--syne);
	font-size: 2rem;
}

.event-area ul li a .cate {
	min-width: 130px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border-style: solid;
	border-width: 1px;
	font-size: 1.2rem;
	font-weight: 500;
	margin: 0 20px 0 20px;
	padding: 0 10px;
	border-color: #b5b5b5;
	border-radius: 50px;
}

.event-area ul li a .cate.type01 {
	color: var(--mediumblue);
	border-color: var(--mediumblue);
}

.event-area ul li a .cate.type02 {
	color: var(--green);
	border-color: var(--green);
}

.event-area ul li a .cate.type03 {
	color: var(--orange);
	border-color: var(--orange);
}

.event-area ul li a .title {
	font-size: 1.6rem;
	line-height: 2;
		font-family: var(--notoserif);
	transition: .3s all;

}
.event-area ul li a:hover .title {
	color: var(--gold);
}

.event-area .link-area {
	left: 0;
	top: 100px;
	display: flex;
}

.event-area .link-area p a {
	font-family: var(--syne);
	font-size: 2rem;
	letter-spacing: 0.05em;
	position: relative;
	padding: 0 20px 0 0;
}
.event-area .link-area p a::after{
	display: inline-block;
    content: "\f105";
    font-family: 'FontAwesome';
    padding: 0 0;
    color: #333;
	right: 0;
	top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
	font-size: 1.4rem;
}

@media screen and (max-width: 768px){
	
	.event-area {
		position: relative;
		width: 100%;
		padding: 20px 20px;
		margin: 36px auto 0;
		z-index: 1;
		border-bottom: none;
		display: block;
	}
	.event-area ul{
		padding: 7px 0 0;
		width: 100%;
	}

	.event-area ul li:nth-child(n + 2){
		display: none;
	}
	.event-area ul li a {
		display: block;
		padding: 0;
		background: none;
	}
	.event-area .ttl-s .en{
		font-size: 2.4rem;
	}
	.event-area ul li a .date {
		display: inline-block;
		padding: 0 0 0;
		font-size: 2rem;
	}

	.event-area ul li a .cate {
		display: inline-block;
		min-width: 100px;
		height: 20px;
		line-height: 20px;
		font-size: 1.0rem;
		margin: 0 0 0 10px;
		padding: 4px 5px 2px;
        line-height: 1;
	}

	.event-area ul li a .title {
		line-height: 1.5;
		padding: 0 0 0;
	}

	.event-area .link-area {
		position: absolute;
		right: 23px;
		top: 20px;
		left: auto;
	}

	.event-area .link-area p {
		line-height: 1;
	}

	.event-area .link-area p a {
		padding: 0 15px 0 0;
				font-size: 1.8rem;
	}
}


/* -----------------------------
	intro-area
-------------------------------- */
.intro-area{
	padding:0 0 0;
	position: relative;
}

.intro-area > div{

}

.intro-area .txt-area{
	display: flex;
	justify-content: space-between;
}
.intro-area > div .img{
	margin: 0 100px 0 0;
}

.intro-area > div .img figure{
	border-radius: 50px;
}

.intro-area > div img{

}

.intro-area .subcatch{
	position: relative;
	width: fit-content;
	padding: 2px 20px;
	font-size: 1.6rem;
	background: var(--gold);
	color: #fff;
	border-radius: 50px;
}
.intro-area .subcatch::after {
	content: "";
	position: absolute;
	top: calc(100% + 2px);
	left: 70%;
	width: 20px;
	height: 1px;
	box-sizing: border-box;
	background-color: #333333;

	rotate: -50deg;
}
.intro-area .catch-l{
	margin: 30px 0 0;
}
.intro-area .basic-txt{
	margin: 30px 0 0;
}

@media screen and (max-width: 1400px){
	.intro-area > div .img{
		margin: 0 70px 0 0;
	}
}

@media screen and (max-width: 768px){
	.intro-area{

		padding: 0 0 0;
	}

	.intro-area .txt-area{
		display: block;
	}
	.intro-area > div{
		display: block;
	}

	.intro-area > div .img{
		margin: 20px 0 0;
	}

	.intro-area > div .img figure{
		border-radius: 10px;
		height: 330px;
		width: 100%;
		object-fit: cover;
	}

	.intro-area > div img{
	}
	.intro-area .subcatch {
		margin: 10px 0 0;
	}
	.intro-area .ttl-l{
		margin: 10px 0 0;	
	}
	.intro-area .catch-l{
		margin: 20px 0 0;
	}
	.intro-area .basic-txt{
		margin: 20px 0 0;
	}
}

/* -----------------------------
	feature-area
-------------------------------- */
.feature-area{
	margin: 100px 0 0;
	background: #ECEAEA;
	padding: 150px 0;
	border-radius: 110px 110px 0 0;
}
.feature-area > div{
	display: flex;
}

.feature-area .txt-area > div{
	position: sticky;
	top: 150px;
}

.feature-area .txt-area{
	width: 600px;
}
.feature-area .catch-l{
	margin: 30px 0 0;
}
.feature-area .txt-area .basic-txt{
	margin: 30px 0 0;
}

.feature-area > div ul{
	margin: 0 0 0 50px;
	flex: 1;
}
.feature-area > div ul li{
	background: #f8f8f8;
	padding: 30px;
	border-radius: 20px;	
}

.feature-area > div ul li:nth-child(n+2){
	margin: 20px 0 0;
}
.feature-area > div ul li > div{
	display: flex;
	align-items: center;
}
.feature-area > div ul li .img{
	margin: 0 30px 0 0;
}
.feature-area > div ul li figure{
	border-radius: 15px;
}
.feature-area > div ul li img{
	margin: 0 0 0 0;
	width: 350px;
	height: 100%;
	object-fit: cover;
}
.feature-area > div ul li .num{
	font-family: var(--syne);
	font-size: 2rem;
	font-weight: 500;
	color: #fff;
	line-height: 1;
	background: var(--gold);
	display: inline-block;
	border-radius: 3px;
	padding: 5px 10px;
}
.feature-area > div ul li .catch-m{
	margin: 10px 0 0;
	font-size: 2.6rem;
	line-height: 1.5;
}
.feature-area > div ul li .basic-txt{
	margin: 10px 0 0;
}

@media screen and (max-width: 1600px){
		.feature-area .txt-area{
			width: 530px;
		}
}

@media screen and (max-width: 768px){
	.feature-area{
		border-radius: 20px 20px 0 0;
		margin: 40px 0 0;
		padding: 40px 0 60px;
		overflow: hidden;
	}
	.feature-area > div{
		display: block;
	}

	.feature-area .txt-area{
		width: 100%;
	}
	.feature-area .catch-l{
		margin: 20px 0 0;
	}
	.feature-area .txt-area .basic-txt{
		margin: 20px 0 0;
	}

	.feature-area > div ul{
		margin: 20px 0 0;
		display: none;
	}
	/*.feature-area > div ul li{
		display: block;
		padding: 10px;
	}
	.feature-area > div ul li:nth-child(n+2){
	}
	.feature-area > div ul li img{
		margin: 0;
		width: 100%;
		height: 260px;
		object-fit: cover;
	}
	.feature-area > div ul li .num{
		margin: 10px 0 0;
	}
	.feature-area > div ul li .catch-m{
		margin: 5px 0 0;
	}
	.feature-area > div ul li .basic-txt{
		margin: 5px 0 0;
		color: var(--gold);
	}*/
	
	.feature-area .swiper {
		width: 100%;
		max-width: 310px;
		min-height: 420px;
		margin: 30px auto 0;
		padding: 0;
	}
	
	.feature-area .swiper-slide {
	  border-radius: 10px;
		background: #fff;
		padding: 10px;
	}
	.feature-area .swiper-slide:nth-child(2){
		background: #E2DCD1;
	}
	.feature-area .swiper-slide:nth-child(3){
		background: #D1C8B9;
	}
	.feature-area .content__img--small{
		height: 300px;
		border-radius: 5px;
		max-width: 100%;
		width: 100%;
        object-fit: cover;
	}
	
	.feature-area .swiper-slide .num{
		font-family: var(--syne);
		color: var(--gold);
		font-size: 1.6rem;
		font-weight: 600;
		margin: 10px 0 0;
		padding: 0 10px 0;
	}
	.feature-area .swiper-slide .catch-m{
		padding: 0 10px;
		line-height: 1.5;
	}
	.feature-area .swiper-slide .basic-txt{
		padding: 5px 10px 10px;
		font-size: 1.4rem;
		line-height: 1.7;
	}
	.feature-area .scroll-txt{
		text-align: left;
		font-size: 1.2rem;
		color: var(--gold);
		margin: 10px 0 0;
	}
	.feature-area .scroll-txt i{
		margin: 0 3px 0 0;
		font-size: 1.4rem;
	}
	
}


/* -----------------------------
	cast-index-area
-------------------------------- */
.cast-index-area{
	margin: 150px 0 0;
}

.cast-index-area .txt-area{
	display: flex;
	justify-content: space-between;
}

.cast-index-area .txt-area .catch-l{
	margin: 30px 0 0;
}
	
@media screen and (max-width: 768px){
	.cast-index-area{
		margin: 40px 0 0;
	}

	.cast-index-area .txt-area{
		display: block;
	}
	.cast-index-area .txt-area .catch-l{
		margin: 20px 0 0;
	}
}

/* -----------------------------
	price-area
-------------------------------- */
.price-area{
	margin: 100px 0 0;
}

.price-area .subtitle{
	border: none;
	padding: 0 0 10px;
	text-align: left;
	width: 100%;
	font-size: 2rem;
	border-bottom: solid 1px var(--gold);
	margin: 30px 0 0;
	font-weight: bold;
}
.price-area table{
	width: 100%;
	margin: 10px 0 0;
}
.price-area table ,
.price-area td, 
.price-area th {
	border-bottom: 1px solid #ddd;
	border-collapse: collapse;
	text-align: center;
}
.price-area td, 
.price-area th {
	padding: 15px;
	font-size: 1.8rem;
font-family: var(--notoserif);
}
.price-area td:first-of-type{
	background: #f9f7f7;
	width: 50%;
}
.price-area td:last-of-type{
	font-size: 1.9rem;
	font-weight: 500;
	
}
.price-area td:last-of-type span{
	font-size: 1.4rem;
	margin: 10px 0 0;
	display: block;
}
.price-area td[colspan] {
	background: var(--gold);
    font-size: 1.8rem;
    color: #fff;
    border-radius: 5px 5px 0 0;
    margin: 15px 0 0;
    display: block;
    width: 250px;
	border-bottom:none;
	padding: 10px;
	font-weight: 500;
	border: solid 1px var(--gold);
    background:var(--gold);
	margin: 15px 0 0;
	border-bottom: none;
	line-height: 1.2;
}
.price-area td[colspan] i{
	margin: 0 10px 0 0;
}
.price-area .note{
	font-family: var(--notoserif);
}

.price-area .last-note{
	border-top: solid 1px #ddd;
	padding: 10px 0 0;
	margin: 30px 0 0;
}

@media screen and (max-width: 768px){
	.price-area{
		margin: 40px 0 0;
	}
	.price-area .subtitle{
		font-size: 1.6rem;
	}
	.price-area table{
		margin: 10px 0 0;
	}
	.price-area table ,
	.price-area td, 
	.price-area th {
	}
	.price-area td, 
	.price-area th {
		font-size: 1.5rem;
		line-height: 1.2;
		padding: 10px 5px;
	}
	.price-area td:first-of-type{
		width: 140px;
	}
	.price-area td:last-of-type{
		font-size: 1.5rem;
	}

	.price-area td[colspan] {
		font-size: 1.4rem;
		padding: 6px;
		margin: 5px 0 0;
	}
	.price-area td[colspan] i{
		margin: 0 3px 0 0;
	}
	.price-area td:last-of-type span{
		font-size: 1.2rem;
		line-height: 1.4;
	}
	.price-area .note{
		font-size: 1.5rem;
	}
	
	.price-area .last-note{
		border-top: solid 1px #ddd;
		padding: 10px 0 0;
		margin: 10px 0 0;
		font-size: 1.5rem;
	}
}



/* -----------------------------
	shop-area
-------------------------------- */
.shop-detail-area{
	margin: 100px 0 0;
	background: #D1C8B9;
	padding: 50px 0;
}

.shop-detail-area .shop-wrap{
	display: flex;
	justify-content: space-between;
	background: #EEE7DE;
	padding: 50px 80px;
	border-radius: 30px;
	margin: 0 0 0;
}

.shop-detail-area .shop-wrap iframe{
	width: 600px;
	height: 400px;
}

.shop-detail-area table ,
.shop-detail-area td,
.shop-detail-area th {
	border-collapse: collapse;
}
.shop-detail-area table{
	margin: 50px 0 0;
}
.shop-detail-area table th{
	width: 100px;
	text-align: left;
}
.shop-detail-area table th i{
	color: var(--gold);
	margin: 0 5px 0 0;
}
.shop-detail-area table tr{
    padding: 0 0 15px;
    border-bottom: solid 1px #333;
    margin: 0 0 15px;
    display: block;
	line-height: 1.4;
	font-family: var(--notoserif);
}

@media screen and (max-width: 1600px){
	.shop-detail-area .shop-wrap iframe{
		width: 520px;
	}
}

@media screen and (max-width: 768px){
	.shop-detail-area{
		padding: 20px 0;
		margin: 40px 0 0;
	}

	.shop-detail-area .shop-wrap{
		display: block;
		padding: 20px;
		border-radius: 20px;
	}

	.shop-detail-area .shop-wrap iframe{
		width: 100%;
		height: 300px;
		margin: 10px 0 0;
	}

	.shop-detail-area table ,
	.shop-detail-area td,
	.shop-detail-area th {
	}
	.shop-detail-area table{
		margin: 20px 0 0;

	}
	.shop-detail-area table th{
			width: 120px;
	}
	.shop-detail-area table th i{
	}
	.shop-detail-area table tr{
		padding: 0 0 5px;
		margin: 0 0 5px;
	}

}

/* -----------------------------
	photo-area
-------------------------------- */
.photo-area{
	margin: 100px 0 0;
}
.photo-area .txt-area{
	margin: 0 0 30px;
}
.photo-area ul{
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
}
.photo-area li{
	width: calc((100% / 3) - 10px);
}
.photo-area li img{
	width: 100%;
	border-radius: 30px;
}

@media screen and (max-width: 768px){
	.photo-area{
		margin: 40px 0 0;
	}
	.photo-area .txt-area{
		margin: 0 0 10px;
	}
	.photo-area ul{
		gap: 5px;
		margin: 20px 0 0;
	}
	.photo-area li{
		width: calc((100% / 2) - 2.5px);
	}
	.photo-area li img{
		width: 100%;
		border-radius: 5px;
	}
}

/* -----------------------------------------------------------
    Q&A
-------------------------------------------------------------- */
.faq-area {
    padding: 80px 0 100px;
	position: relative;
}

.faq-area-inner{
}

.faq-area-inner::after{
    left: auto;
    right: 0;
}

.faq-area .title-wrap{
    z-index: 3;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 35px;
}

.faq-area .faq-list {
    padding: 50px 0 0;
}

.faq-area .faq-list .list {
	line-height: 1.7;
	/*background: #F2F0EC;*/
	border-bottom: solid 1px #ddd;
}

.faq-area .faq-list .list:last-child {
	margin: 0;
}

.faq-area .quest {
	padding: 20px 20px 20px 80px;
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	transition: 0.5s;
    font-weight: 500;
}
.faq-area .quest .ttl{
	font-size: 1.6rem;
font-family: var(--notoserif);
}

.faq-area .quest::before {
	content: "Q";
	color: var(--gray2);
	font-family: var(--syne);
	font-size: 4rem;
	font-weight: 600;
	position: absolute;
	top: 0;
	margin: auto;
	left: 22px;
}

.faq-area .quest:hover {
	cursor: pointer;
	color: #a8a8a8;
}

.faq-area .faq-accordion-icon {
	position: relative;
	height: 20px;
	width: 20px;
}

.faq-accordion-icon::before,
.faq-accordion-icon::after {
	background-color: #333;
	content: "";
	height: 2px;
    width: 22px;
	position: absolute;
	transition: all .3s;
	top: 0;
	bottom: 0;
	margin: auto;
}

.faq-accordion-icon::before {
	transform: rotate(0deg);
}

.faq-accordion-icon::after {
	transform: rotate(90deg);
}

.faq-area .quest.active .faq-accordion-icon::after {
	transform: rotate(180deg);
}

.faq-area .answer {
	padding: 30px 20px 30px 80px;
	/*font-weight: 500;*/
	display: none;
	position: relative;
	background: var(--lightgray);
}

.faq-area .answer::before {
	content: "A";
	color: var(--gold);
	font-family: var(--syne);
	font-size: 4rem;
	font-weight: 500;
	position: absolute;
	top: 18px;
    margin: auto;
    left: 23px;
}

.faq-area .faq-list .list .answer p{
	font-size: 1.6rem;
font-family: var(--notoserif);
	line-height: 2.3;
	letter-spacing: 1.2px;
}

.faq-area .faq-list .list .answer a{
    border-bottom: 1px solid;
}

.faq-area .faq-list .list .answer li {
	line-height: 2.2;
    font-size: 2rem;
    margin: 0 0 0 15px;
    position: relative;
}


.faq-area .faq-list .list .answer .att{
    font-size: 1.8rem;
    font-weight: 600;
}

.sub-title{
	font: 500 3rem / 1.4 var(--basefont);
	position: relative;
}

@media screen and (max-width: 1600px){
	.faq-area .inner1500{
		width: 1200px;
	}
}

@media screen and (max-width: 768px){

	.faq-area {
		padding: 40px 0 0;
	}
	.faq-area .inner1500{
		width: 100%;
	}
	.faq-area .faq-area-inner {
		width: 100%;
	}

    .faq-area .title-wrap{
        top: 19px;
    }

	.faq-area .inner > .ttl {
		text-align: center;
	}

	.faq-area .faq-list {
		padding: 15px 0 40px;
	}

	.faq-area .faq-list .list {
		margin: 0 0 10px;	
	}

	.faq-area .faq-list .list p {
		font-size: 1.6rem;
	}

    .faq-area .faq-list .list .ttl{
        width: calc( 100% - 40px );
        display: block;
    }

	.faq-area .quest {
		padding: 10px 0 10px 40px;
	}

	.faq-area .quest::before {
		font-size: 2rem;
		top: 11px;
		left: 10px;
	}

	.faq-area .quest:hover {
		color: #55423E;
	}

	.faq-area .faq-accordion-icon {
		height: 20px;
		width: 20px;
	}

	.faq-accordion-icon::before,
	.faq-accordion-icon::after {
		width: 15px;
	}

	.faq-area .answer {
		padding: 15px 20px 15px 40px;
	}

	.faq-area .answer::before {
		font-size: 2.2rem;
		top: 12px;
		left: 12px;
	}

	.faq-area .faq-list .list .answer p {
		line-height: 1.8;
		font-size: 1.6rem;
	}

	.faq-area .faq-list .list .answer li{
		font-size: 1.6rem;
	}

	.faq-area .faq-list .list .answer p em{
		line-height: 1.3;
	}
	
	.sub-title{
		font-size: 1.8rem;
	}

}


/* -----------------------------
	news-area
-------------------------------- */
.gray-bg{
	background: #EAEAEA;
	padding: 80px 0 160px;
	margin: 200px 0 0;
	border-radius: 80px 80px 0 0;
	position: relative;
}
.bg-text{
	align-items: center;
	color: #EAEAEA;
	display: flex;

	overflow:hidden;
	width: 100%;
	white-space:nowrap;
	z-index: 1;
	position: absolute;
	top: -180px;
}
.bg-text ul {
  animation: flowing 120s linear infinite;
  font-size: 20px;
  transform:translateX(100%);
  margin: 0;
  padding: 0;
}
.bg-text ul li{
    display: inline-block;
    padding-right: 10px;
    font-family: var(--syne);
    font-size: 22rem;
    letter-spacing: 0.05em;
    font-weight: bold;
}
@keyframes flowing {
  0% { transform:translateX(0); }
  100% { transform:translateX(-100%); }
}

.gray-bg .inner1300{
	display: flex;
	justify-content: space-between;
}
.news-area {
	position: relative;
	width: 810px;
	margin: 0 30px 0 0;
}

.news-area .ttl-s {
}

.news-area .ttl-s .en {
	margin: 0 10px 0 0;
	font-size: 3rem;
	letter-spacing: 0;
	font-weight: bold;
}

.news-area ul li{
	border-bottom: #333 solid 1px;
	padding: 26px 0;
}

.news-area ul li a {
	display: flex;
	/*border-bottom: var(--gray) solid 1px;*/
	/*background: url("https://citygroup-s.com/control/img/arrow-black.png") no-repeat right 50px center / auto 10px;*/
}

.news-area ul li a .date {
	margin: 0 20px 0 0;
	font-family: var(--syne);
	font-size: 2rem;
	white-space: nowrap;
	line-height: 1;
}

/*
.news-area ul li a .cate {
	min-width: 130px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border-style: solid;
	border-width: 1px;
	font-size: 1.4rem;
	font-weight: bold;
	margin: 0 50px 0 30px;
}

.news-area ul li a .cate.type01 {
	color: var(--mediumblue);
	border-color: var(--mediumblue);
}

.news-area ul li a .cate.type02 {
	color: var(--green);
	border-color: var(--green);
}

.news-area ul li a .cate.type03 {
	color: var(--orange);
	border-color: var(--orange);
}*/

.news-area ul li a .title {
	font-size: 1.6rem;
	line-height: 1.5;
	transition: .3s all;
	font-family: var(--notoserif);
}
.news-area ul li a:hover .title{
	color: var(--gold);
}

.news-area .link-area {
	right: 0;
	top: 0;
	position: absolute;
}

.news-area .link-area p a {
	font-family: var(--syne);
	font-size: 1.6rem;
	letter-spacing: 0.05em;
	position: relative;
	padding: 0 20px 0 0;
}
.news-area .link-area p a:hover{
	color: var(--gold);
}
.news-area .link-area p a::before{
	display: inline-block;
    content: "\f105";
    font-family: 'FontAwesome';
    padding: 0 0;
    color: #333;
	right: 0;
	top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
	transition: .3s all;
}
.news-area .link-area p a:hover::before{
	color: var(--gold);
}

@media screen and (max-width: 768px){
	.gray-bg{
		border-radius: 30px 30px 0 0;
		padding: 50px 0 80px;
		margin: 60px 0 0;
	}
	.gray-bg .inner1300{
		display: block;
	}
	.bg-text{
		top: -57px;
	}
	.bg-text ul li{
		font-size: 7rem;
	}
	
	.news-area {
		position: relative;
		width: 100%;
		padding: 0 20px;
		background: none;
		margin: 0;
	}
	.news-area ul{
		padding: 15px 0 0;
	}
	.news-area ul li{
		padding: 0 0;
		border-bottom: none;
	}
	.news-area ul li:nth-child(n + 2){
		display: none;
	}
	.news-area ul li a {
		display: block;
		padding: 0;
		background: none;
	}
	.news-area .ttl-s .en{
		font-size: 2rem;
	}
	.news-area ul li a .date {
		display: inline-block;
		padding: 0 0 0;
		font-size: 2rem;
	}

	.news-area ul li a .cate {
		display: inline-block;
		min-width: 100px;
		height: 20px;
		line-height: 20px;
		font-size: 1.0rem;
		margin: 0 0 0 10px;
	}

	.news-area ul li a .title {
		line-height: 1.5;
		padding: 5px 0 0;
		font-size: 1.4rem;
	}

	.news-area .link-area {
		position: absolute;
		right: 23px;
		top: 0;
		left: auto;
	}

	.news-area .link-area p {
		line-height: 1;
	}

	.news-area .link-area p a {
		padding: 0 20px 0 0;
		font-size: 2rem;
	}
	.news-area .link-area p a::before{
		font-size: 1.4rem;
	}

}


/* -----------------------------
	sns-area
-------------------------------- */
.sns-area{
	width: 457px;
	margin: 0 0 0 auto;
}
.sns-area li a{
	height: 110px;
	border-radius: 20px;
	display: block;
	padding: 20px 20px 20px 144px;
	color: #fff;
	position: relative;
}
.sns-area .instagram a{
	background: url("../img/instagram-banner.jpg") no-repeat top center / cover;
}
.sns-area li a::before{
	content: '';
	position: absolute;
	width: 53px;
	height: 53px;
	left: 70px;
	background: url("../img/instagram-banner-icon.png") no-repeat top center / contain;
	top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}
.sns-area li a::after{
	display: inline-block;
    content: "\f105";
    font-family: 'FontAwesome';
    padding: 0 0;
    color: #fff;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
	font-size: 2.2rem;
}

.sns-area .tiktok{
	margin: 20px 0 0;
}
.sns-area .tiktok a{
	background: #000000;
}
.sns-area li.tiktok a::before{
	background: url("../img/tiktok-banner-icon.png") no-repeat top center / contain;
	width: 77px;
	height: 77px;
	left: 60px;
}
.sns-area .recruit{
	margin: 20px 0 0;
}
.sns-area .recruit a{
	background-image: linear-gradient(to right, #B485AC, #C2B3DF);
	padding: 20px 20px 16px 34px;
	height: auto;
}
.sns-area li.recruit a::before{
	background: none;
}
.sns-area .recruit a .txt{
	font-size: 1.8rem;
	letter-spacing: 0.1em;
}

.sns-area .txt{
	font-family: var(--syne);
	font-size: 4rem;
}
.sns-area .instagram .txt{
	font-size: 2.4rem;
	line-height: 1.2;
}
.sns-area .txt span{
	display: block;
	font-family: var(--basefont);
}

@media screen and (max-width: 768px){
	.sns-area{
		width: 100%;
		margin: 20px 0 0;
	}
	.sns-area li a{
		height: 80px;
				border-radius: 15px;
		padding: 23px 0 0 106px;

	}
	.sns-area .instagram a{
	}
	.sns-area li a::before{
	    width: 33px;
		height: 33px;
		left: 60px;
	}
	.sns-area li a::after{
		font-size: 1.6rem;
	}

	.sns-area .tiktok{
		margin: 10px 0 0;
	}
	.sns-area .tiktok a{
		padding: 28px 0 0 106px;
	}
	.sns-area li.tiktok a::before{
		width: 52px;
		height: 52px;
		left: 50px;
	}

	.sns-area .recruit{
		margin: 10px 0 0;
	}
	.sns-area .recruit a .txt{
		font-size: 1.6rem;
	}

	.sns-area .txt{
		padding: 0;
		line-height: 1;
	}
	.sns-area .instagram .txt{
		font-size: 1.4rem;
	}
	.sns-area .tiktok .txt{
		font-size: 2.8rem;
	}
	.sns-area .txt span{
		font-size: 1.7rem;
	}
}


