@charset "utf-8";


/* -----------------------------------------------------------
    サイトマップ
-------------------------------------------------------------- */


@media screen and (max-width: 768px){
	
}

/*    sitemap-area
-------------------------------------------------------------- */
.sitemap-area{
	position: relative;
	padding: 100px 0 200px;
}
.sitemap-area a{
}
.sitemap-area a:hover{
	color: var(--gold);
	text-decoration:none;
	opacity: 1;
}
.sitemap-wrap{
    display: flex;
	justify-content: space-around;
}
.sitemap-wrap li{
	width: calc(100% / 4);
	margin: 0 20px 0 0;
}
.sitemap-wrap li:last-child{
	margin: 0;
}

.sitemap-wrap li p{
    font-size: 1.5rem;
	line-height: 1.6;
	padding: 0 0 23px 20px;
	position: relative;
}
.sitemap-wrap li p::before{
	position: absolute;
	display: inline-block;
	margin: 0 8px 0 0;
	font-family: "FontAwesome";
	content: "\f105";
	font-size: 1.4rem;
	color: var(--gold);
	left: 0;
	top: 3px;
}

.sitemap-wrap li .sub-list{
	padding: 0 0 0 22px;
}
.sitemap-wrap li .sub-list.r{
	padding: 42px 0 0 22px;
}

.sitemap-wrap li .sub-list li{
	width: auto;
    font-size: 1.5rem;
	padding: 0 0 23px 0;
	font-weight: 500;
	line-height: 1.6;
	position: relative;
}
.sitemap-wrap li .sub-list li::before{
	position: absolute;
	display: inline-block;
	margin: 0 8px 0 0;
	font-family: "FontAwesome";
	content: "-";
	font-size: 1.4rem;
	color: var(--gold);
	left: -20px;
	top: 0;
}

.sitemap-bot{
	display: flex;
	padding: 20px 0 0;
}
.sitemap-bot .sublink{
	display: inline-block;
	font-size: 1.2rem;
	margin: 0 40px 0 0;
}

@media screen and (max-width: 768px){

    .sitemap-area{
		display: block;
        padding: 10px 20px 80px;
    }

	.sitemap-wrap{
		display: block;
	}
	.sitemap-wrap li,
	.sitemap-wrap li:last-child{
		width: auto;
		margin: 0;
	}
	.sitemap-wrap li p{
        padding: 0 0 15px 18px;
	}

	.sitemap-wrap li .sub-list{
	}
	.sitemap-wrap li .sub-list.r{
		padding: 0 0 0 22px;
	}
	.sitemap-wrap li .sub-list li{
		width: auto;
	}
	
	
	.sitemap-bot{
		display: block;
		padding: 10px 0 0;
	}
	.sitemap-bot .sublink{
		display: block;
		font-size: 1.5rem;
		margin: 15px 0 0 0;
		line-height: 1.4;
	}
	
	
}


/*    セクション名
-------------------------------------------------------------- */

@media screen and (max-width: 768px){

}
